script(type="text/x-template")#form-container
    form.form(
        action="#" 
        method="POST" 
        @submit.prevent='sendForm'
    )
        .form__row
            label.form__block
                span.form__label Введите ваше имя
                input.form__input(
                    :class="{'valid-error' : validation.hasError('name')}"
                    type="text" 
                    name="name" 
                    placeholder="Валентина Понамарева" 
                    v-model='name'
                )
                +icon('user', 'form__input-icon', '30', '29')
                .form__error(
                    :class="{'valid-error' : validation.hasError('name')}"
                ) Поле не заполнено
            label.form__block
                span.form__label Введите ваш email
                input.form__input(
                    :class="{'valid-error' : validation.hasError('email')}"
                    type="email"
                    name="email" 
                    placeholder="valiazin@gmail.com"
                    v-model='email'
                 )
                +icon('envelope', 'form__input-icon', '30', '30')
                .form__error(
                    :class="{'valid-error' : validation.hasError('email')}"
                ) Поле не заполнено
        .form__row.form__row--margin--l
            label.form__block
                span.form__label Сообщение к письму
                textarea.form__input.form__input--textarea(
                    :class="{'valid-error' : validation.hasError('message')}"
                    name="message" 
                    placeholder="Требуется Ваша помощь в создании сайта. Интересуют сроки и цена вопроса"
                    v-model='message'
                    )
                +icon('message', 'form__input-icon', '30', '30')
                .form__error(
                    :class="{'valid-error' : validation.hasError('message')}"
                ) Поле не заполнено
        .form__row
            input.btn(type="submit" value="Отправить" :disabled="isDisabled")
