include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
    title Portfolio | main page
  body
    .wrapper
      .welcome-section
        .parallax
          .parallax__layer(data-speed="0.1")
            +image('parallax/layer-01_sky.png', 'parallax__img')
          .parallax__layer(data-speed="0.25")
            +image('parallax/layer-02_mountain.png', 'parallax__img')
          .parallax__layer(data-speed="0.35")
            +image('parallax/layer-03_baloon.png', 'parallax__img')
          .parallax__layer(data-speed="0.38")
            +image('parallax/layer-04_cloud.png', 'parallax__img')
          .parallax__layer(data-speed="0.45")
            +image('parallax/layer-05_man.png', 'parallax__img')
          .parallax__layer(data-speed="0.48")
            +image('parallax/layer-06_mountain2.png', 'parallax__img')
          .parallax__layer(data-speed="0.50")
            +image('parallax/layer-07_white.png', 'parallax__img')

        .welcome-section__content
          section.hero.fullscreen-section
            .container
              header.header
                .header__logo.logo ВП
                .header__menu
                  nav.nav
                    - var menu = ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться'];
                    ul.nav__list
                      each item in menu
                        li.nav__item
                          a.nav__link(href="#") #{item}
                .header__links
                  - var icons = ['insta', 'vk', 'github'];
                  ul.socials
                    each item in icons
                      li.socials__item
                        a.socials__link(href="#")
                          +icon(`${item}`, 'socials__icon')
                a.hamburger-menu-link(href="#")
                  .hamburger-menu-link__bars
                nav.hamburger-menu
                  - var menu = ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться'];
                    ul.nav__list
                      each item in menu
                        li.nav__item
                          a.nav__link(href="#") #{item}
                      - var icons = ['insta', 'vk', 'github'];
                    ul.socials
                      each item in icons
                        li.socials__item
                          a.socials__link(href="#")
                            +icon(`${item}`, 'socials__icon')

              .hero__content
                p.hero__content-text Личный сайт веб разработчика
                h1.hero__title Валентины Понамаревой
              .hero__scroll
                a.scroll
                  span.scroll__text Скролл
                  +icon('scroll', 'scroll__icon', '30')

          section.about
            .container.about__container
              .about__left
                .user
                  .avatar.user__avatar
                    +image('content/user.jpg', 'avatar__pic', 'avatar')
                  table.user__info
                    tr.user__info-row
                      th.user__info-header Проживаю:
                      td.user__info-data Санкт-Петербург
                    tr.user__info-row
                      th.user__info-header Возраст:
                      td.user__info-data 28 лет
                    tr.user__info-row
                      th.user__info-header Родилась:
                      td.user__info-data 5 октября 1991
              .about__right
                .about__description
                  p.about__description-top Привет, меня зовут
                  h2.section-title Валентина Понамарева
                  p.about__description-text Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты. 
                p.about__note Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
            
      section.values
        .triangles
          svg.triangles__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
            polygon(points="0,0 0,100 1000,100")
          svg.triangles__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
            polygon(points="0,100 1000,100 1000,0")
        .container
          .values__content
            h2.section-title.section-title--values Чем я могу быть полезна вам
            .values__desc
              p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!

            .values__skills
              #skills-component

      section.works
        .container
          h2.section-title.section-title--works Мои работы
          .works__content
            .works__slider
              .slider
                +image('content/work_preview1.jpg', 'slider__image')
                .slider__previews
                  ul.slider__previews-list
                    li.slider__previews-item.slider__previews-item--active
                      +image('content/work_preview2.jpg', 'slider__preview-image')
                    li.slider__previews-item
                      +image('content/work_preview3.jpg', 'slider__preview-image')
                    li.slider__previews-item
                      +image('content/work_preview4.jpg', 'slider__preview-image')
                .slider__controls
                  .slider-btns
                    button.slider-btns__item.slider-btns__item--slide--prev
                      +icon('arrow-down', 'slider-btns__icon', '8', '10')
                    button.slider-btns__item.slider-btns__item--slide--next
                      +icon('arrow-down', 'slider-btns__icon', '8', '10')
              span.works__number 4
            .works__description
              .wors__tags
                - var tags = ['HTML', 'CSS', 'Javascript'];
                ul.tags
                  each tag in tags
                    li.tags__item #{tag}
              .works__text
                h3.works__title Сайт школы образования
                .works__definition
                  p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                a.iconed-link(href='#' target="_blank")
                  .iconed-link__icon
                  span.iconed-link__text Посмотреть сайт

      .reviews-ans-contact-section
        .triangles.triangles--rotated
            svg.triangles__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
              polygon(points="0,0 0,100 1000,100")
            svg.triangles__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
              polygon(points="0,100 1000,100 1000,0")

        section.reviews#reviews-section(@click="checkArrows" @touchEnd="checkArrows")
          .container
            .reviews__top
              h2.section-title.section-title--reviews Что обо мне говорят
              .reviews__controls
                .circle-btns
                  button.circle-btns__item.circle-btns__item--slide--prev(@click='previous' :disabled='true' ref="circleBtnPrev")
                    +icon('arrow-down', 'circle-btns__icon', '10', '8')
                  button.circle-btns__item.circle-btns__item--slide--next(@click='next' :disabled='false' ref="circleBtnNext")
                    +icon('arrow-down', 'circle-btns__icon', '10', '8')
            .reviews__slider
              flickity(ref="flickity" :options="flickityOptions").slider-horizontal
                .slider-horizontal__item
                  +icon('quote', 'slider-horizontal__item-icon', '75', '63')
                  .slider-horizontal__content
                    .slider-horizontal__text
                      p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
                    .slider-horizontal__source
                      .avatar.slider-horizontal__avatar
                        +image('content/review1.jpg', 'avatar__pic')
                      .slider-horizontal__author
                        .slider-horizontal__name Ковальчук Дмитрий
                        .slider-horizontal__position Основатель Loftschool
                .slider-horizontal__item
                  +icon('quote', 'slider-horizontal__item-icon', '75', '63')
                  .slider-horizontal__content
                    .slider-horizontal__text
                      p Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах
                    .slider-horizontal__source
                      .avatar.slider-horizontal__avatar
                        +image('content/review2.jpg', 'avatar__pic')
                      .slider-horizontal__author
                        .slider-horizontal__name Владимир Сабанцев
                        .slider-horizontal__position Преподаватель
                .slider-horizontal__item
                  +icon('quote', 'slider-horizontal__item-icon', '75', '63')
                  .slider-horizontal__content
                    .slider-horizontal__text
                      p Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах
                    .slider-horizontal__source
                      .avatar.slider-horizontal__avatar
                        +image('content/review2.jpg', 'avatar__pic')
                      .slider-horizontal__author
                        .slider-horizontal__name Владимир Сабанцев
                        .slider-horizontal__position Преподаватель
                .slider-horizontal__item
                  +icon('quote', 'slider-horizontal__item-icon', '75', '63')
                  .slider-horizontal__content
                    .slider-horizontal__text
                      p Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах
                    .slider-horizontal__source
                      .avatar.slider-horizontal__avatar
                        +image('content/review2.jpg', 'avatar__pic')
                      .slider-horizontal__author
                        .slider-horizontal__name Владимир Сабанцев
                        .slider-horizontal__position Преподаватель
                .slider-horizontal__item
                  +icon('quote', 'slider-horizontal__item-icon', '75', '63')
                  .slider-horizontal__content
                    .slider-horizontal__text
                      p Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах
                    .slider-horizontal__source
                      .avatar.slider-horizontal__avatar
                        +image('content/review2.jpg', 'avatar__pic')
                      .slider-horizontal__author
                        .slider-horizontal__name Владимир Сабанцев
                        .slider-horizontal__position Преподаватель

        section.contacts
          .container
            h2.section-title.section-title--contacts Связаться со мной
            form.form(action="#" method="POST")
              .form__row
                label.form__block
                  span.form__label Введите ваше имя
                  input.form__input(type="text" name="name" placeholder="Валентина Понамарева")
                  +icon('user', 'form__input-icon', '30', '29')
                  .form__error Какая-то ошибка
                label.form__block
                  span.form__label Введите ваш email
                  input.form__input(type="email" name="email" placeholder="valiazin@gmail.com")
                  +icon('envelope', 'form__input-icon', '30', '30')
                  .form__error Какая-то ошибка
              .form__row.form__row--margin--l
                label.form__block
                  span.form__label Сообщение к письму
                  textarea.form__input.form__input--textarea(type="text" name="message" placeholder="Требуется Ваша помощь в создании сайта. Интересуют сроки и цена вопроса")
                  +icon('message', 'form__input-icon', '30', '30')
                  .form__error Какая-то ошибка
              .form__row
                input.btn(type="submit" value="Отправить")

      footer.footer
        .container.footer__container
          .footer__copyright
            .footer__copyright-year &copy; 2019
            .footer__copyright-name
              .footer__copyright-myname Валентина Понамарева
              .footer__copyright-note Личный сайт веб-разработчика
          .footer__right
            .footer__top
              nav.nav
                    - var menu = ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться'];
                    ul.nav__list.nav__list--left
                      each item in menu
                        li.nav__item
                          a.nav__link(href="#") #{item}
            .footer__bottom
              .footer__bottom-left
                p.footer__note Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool 
                .footer__links
                  - var icons = ['insta', 'vk', 'github'];
                    ul.socials
                      each item in icons
                        li.socials__item.socials__item--circled
                          a.socials__link(href="#" target="_blank")
                            +icon(`${item}`, 'socials__icon')
              .footer__bottom-right
                .blockquote
                  p.blockquote__text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                  span.blockquote__author Martin Golding

    include ./templates/entry.pug
